@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(146, 126, 126);
}

.containerGrid {
    display: grid;
    grid-template-columns: 60px 500px;
    grid-template-rows: 100px 50px 50px 50px;
    grid-template-areas: 
    'aside header'
    'aside main'
    'aside main'
    'aside main'
    'aside footer';
    gap: 10px;
    border: 3mm ridge rgb(167, 114, 114);
}

.header {
    grid-area: header;
    border: 2px solid rgb(241, 202, 202);
}

.aside {
    grid-area: aside;
    border: 2px solid rgb(241, 202, 202);
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

li, a, button {
    font-family: "Nanum Gothic";
    font-size: 16px;
    color: bisque;
    list-style: none;
    padding: 2px;
}

h1, h2 {
    font-family: "Nanum Gothic";
    color: bisque;
}

.divflexHeader {
    display: flex;
}

.divflexmain {
    display: flex;
}

.classUl {
    align-items: center;
    justify-content: space-between;
    border: 1mm solid rgb(167, 114, 114);
}

.classli {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.classradio {
    display: flex;
    width: 500px;
    align-items: baseline;
    gap: 2mm;
}


.divflexFooter {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(241, 202, 202);
}
aside {
    border: 2px solid rgb(241, 202, 202);
}

.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
  }
  .circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  
  p {
    display: flex;
    margin-right: 30px;
  }